.container {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    scroll-behavior: smooth;
    height: 100%;
  }

  .header-row {
    background: linear-gradient(135deg, #3c433c, rgb(84, 193, 53));
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
  }

  .header-row .box {
    padding: 10px;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }

  .header-row li {
    display: inline;
    padding: 5px;
    font-size: larger;
  }

  .header-row a {
    text-decoration: none;
  }

  .header-row a:hover {
    text-decoration: underline;
  }

  .row {
    padding: 100px;
    height: 75%;
  }

  .row .box {
    padding: 20px;
    margin: 10px;
    
  }

  .footer {
    padding: 20px;
    margin: 0px;
    background-color: black;
    color: white;
    font-size: large;
  }

  button {
    background-color: teal;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10%;
  }
  .box1:hover {
    transform: translateY(-5px);
}
   
.row1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 30px;
}


.box1 {
  background: linear-gradient(135deg, #c57be2, rgb(216, 80, 22));
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  text-align: center;
}
.box11 {
  background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  text-align: center;
}